.exchange-page {
  &-currency-piker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    label {
      padding-right: 1rem;
    }
  }
  &-currency-piker {

  }
}
